{% extends "core/base.html" %}

{% block title %}Course Saya - LMS{% endblock %}

{% block content %}
<div class="card">
    <h2>Course Saya</h2>

    <table>
        <thead>
            <tr>
                <th>Nama Course</th>
                <th>Pengajar</th>
                <th>Role Saya</th>
                <th>Konten</th>
                <th>Member</th>
                <th>Joined At</th>
                <th>Aksi</th>
            </tr>
        </thead>

        <tbody>
            {% for membership in memberships %}
                <tr>
                    <td>{{ membership.course.name }}</td>
                    <td>{{ membership.course.teacher.username }}</td>
                    <td>{{ membership.get_role_display }}</td>
                    <td>{{ membership.total_contents }}</td>
                    <td>{{ membership.total_members }}</td>
                    <td>{{ membership.joined_at }}</td>
                    <td>
                        <a class="btn" href="{% url 'course_detail' membership.course.id %}">
                            Buka
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7">
                        Anda belum mengikuti course apapun.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}